.wrapper {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  position: fixed;
  z-index: -1;
  top: 0;
  display: none;

  &.visible {
    z-index: 10;
    display: flex;
  }
}

.noScroll {
  overflow-y: hidden;
}
